@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.destination {
  background-image: url('../../assets/destination/background-destination-mobile.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 100%;
  border: 1px solid palevioletred;
  @media (min-width: $tablet-width) {
    background-image: url('../../assets/destination/background-destination-tablet.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: 100%;
    border: 1px solid palegoldenrod;
  }
  @media (min-width: $desktop-width) {
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: 100%;
    border: 1px solid palegreen;
  }
  
}