@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.technology-layout {
  @include gridCenter;
  &__title {
    font-family: $font-source-heading-1;
    font-size: 5.6rem;
    @media (min-width: $tablet-width) {
      justify-self: center;
      font-size: 8rem;
      margin-top: 10px;
    }
    @media (min-width: $desktop-width) {
      justify-self: flex-start;
    }
  }
  &__text {
    font-family: $font-source-heading-3;
    font-size: 1.7rem;
    font-weight: $regular-weight;
    text-align: center;
    line-height: 25px;
    color: $primary-text-color;
    margin-top: 15px;
    align-self: flex-start;
    @media (min-width: $tablet-width) {
      display: block;
      width: 573px;
      font-size: 1.6rem;
    }
    @media (min-width: $desktop-width) {
      display: block;
      width: 100%;
      font-size: 1.8rem;
      line-height: 1.7;
      text-align: justify;
      padding-right: 110px;
    }
  }
}