@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/* COLORS */
$primary-color: #0B0D17;
$primary-text-color: #D0D6F9;
$secondary-text-color: #FFFFFF;

$dark-midnight-blue: rgb(39, 55, 77);
$medium-steel-blue: rgb(82, 109, 130);
$light-sky-blue: rgb(157, 178, 191);
$pale-frosty-blue: rgb(221, 230, 237);
$pale-frosty-blue-t: rgb(64, 67, 69);
$white: #ffffff;

/* TYPOGRAPHY */
$font-source-heading-1: 'Bellefair', serif; // h1, h2, h2, h4
$font-source-heading-2: 'Barlow Condensed', sans-serif; // h5, subheading
$font-source-heading-3: 'Barlow', sans-serif; // others
$regular-weight: 400;

/* SCREEN SIZES */
$mobile-width: 375px;
$mobile-height: 667px;
$tablet-width: 768px;
$tablet-height: 1024px;
$desktop-width: 1440px;
$desktop-height: 900px;
