@use 'variables' as *;
@use 'mixins' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: $mobile-width;
  max-width: $desktop-width;
  min-height: $mobile-height;
  max-height: $tablet-height;
  width: 100vw;
  height: 100%;
  font-size: $font-source-heading-1;
  background-color: $primary-color;
  color: $secondary-text-color;
  @include removeHorizontalScroll;
  background-image: url("../src/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
  @media (min-width: $tablet-width) {
    background-image: url("../src/assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-position: center;
    min-width: $tablet-width;
    height: 100%;
  }
  @media (min-width: $desktop-width) {
    background-image: url("../src/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    height: 100vh;
  }
}

li {
  list-style: none;
}

.slider-wrapper {
  text-align: center;
  display: flex;
  height: 700px;
}