@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.crew-page-container {
  background-image: url('../../assets/crew/background-crew-mobile.jpg'); 
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100%;
  display: grid;
  gap: 12px;
  @include removeHorizontalScroll;
  /* .content-douglas, .content-mark, .content-victor, .content-anousheh, .content-anousheh {
    flex-direction: column-reverse;
    @media (min-width: $tablet-width) {
      flex-direction: column;
    } */
    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
}

.crew-content-wrapper { 
  top: 35%;
  left: 10%;
  width: 80%;
  display: flex;
  position: sticky;
}

.crew-page-title {
  position: absolute ; 
   /* Puedes ajustar esta cantidad según tus necesidades */
  display: flex;
 /*  top: 2%; */
  width: 40%;
  margin-bottom: 10px;
/*   margin-top: 10px;  */
  /* flex-direction: column; */
 /*  align-items: flex-start; */

  span {
    font-weight: 700;
    font-size: 2.8rem;
    color: $secondary-text-color;
    letter-spacing: 4px;
    opacity: 0.25;
    margin-right: 2%;
  }

  p {
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 5px;
    font-family: $font-source-heading-2;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
}
 
@media (min-width: $tablet-width) {
  .crew-page-title {
    font-size: 2rem;
  }
}
.crew-detail-tripulacion {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  @media (min-width: $tablet-width) {
    width: 460px;
  }
  @media (min-width: $desktop-width) {
    width: 490px;
  }
}
  


.crew-detail-tripulacion-1 {
 /*  line-height: normal; */
  margin-top: 30px;  
  p {
    font-family: $font-source-heading-1;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    color: $secondary-text-color; 
    opacity: 0.5;
    margin-bottom: 2%;
  }

  h1 {
    font-family: $font-source-heading-1;
    font-weight: 400;
    font-size: 5.6rem;
    text-transform: uppercase;
    color: $secondary-text-color; 
  }
}

.crew-tripulacion-information {
  p {
    font-weight: 400px;
    font-family: $font-source-heading-2;
    font-size: 1.8rem;
    line-height: 3.2rem;
   /*  padding-top: 5%;  */
    width: 60%;
    color: $primary-text-color; 
  }
}

.crew-tripulacion-image {
  display: block;
  width: 48rem;
  height: 60rem;
  transform: translateY(-15%);
  flex: 0 1 80%;
  margin-top: 210px;
  img {
     display: block;
    width: 48rem;
    height: 70rem;
    transform: none; 
  }
}
/* .crew-right-border{

} */
.points-container {
  position: static;
  bottom: 10%; 
  left: 10%;
  width: 20%; 
  margin-top: -50px;
  margin-left: 55px;
  display: flex;
 /*  stroke-width: 1px; */
 /*  border-left-width: 0; */
}

.points {
  /* bottom: 0; */ 
 /*  left: 10%; */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 5%;
  background-color: $secondary-text-color; 
  opacity: 0.17;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}



/*  @media (min-width: $tablet-width) {
    background-image: url('../../assets/crew/background-crew-tablet.jpg')
    background-size: cover;
    background-position: center;
    min-width: $tablet-width;
  
    .crew-page-title{
      width: 100%;
      top: 15%;
      left: 0;
      justify-content: center;
      span{
        font-size: 1.6rem;
      }
      p{
        font-size: 1.6rem;
      }
    }
    .crew-content-wrapper{
      top: 18%;
      flex-direction: column-reverse;
    }
    .crew-detail-tripulacion{
      flex: 0 1 70%;
      margin-top: 5%;
    }
    .crew-detail-tripulacion-1{
      margin-bottom: 5%;
      p{
        font-size: 1.6rem;
      }
      h1{
        font-size: 2.4rem;
    }
    .crew-tripulacion-information{
      font-size: 1.5rem;
      padding: 0;
    }
    .crew-tripulacion-image{
      flex: 0 1 30%;
      width: 20rem;
      height: 25rem;
      margin: 0 auto;
    }
    .crew-right-border{
      display: block;
      width: 100%;
      border: 1px solid #0B0D17; 
    }
    .points-container{
      top: 55%;
      padding: 2%;
    }
    points{
      width: 1rem;
      padding: 1rem;
    }
  } 
 
 @media (min-width: $desktop-width) {
    background-image: url('../../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    height: 100%;
    .crew-page-title{
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 2.8rem;
    margin-left: 120px; 
      span{
        font-size: 1.6rem;
      }
      p{
        font-size: 1.6rem;
      }
    }
    .crew-content-wrapper{
      top: 18%;
      flex-direction: column-reverse;
    }
    .crew-detail-tripulacion{
      flex: 0 1 70%;
      margin-top: 5%;
    }
    .crew-detail-tripulacion-1{
      margin-bottom: 5%;
      p{
        font-size: 1.6rem;
      }
      h1{
        font-size: 2.4rem;
    }
    .crew-tripulacion-information{
      font-size: 1.5rem;
      padding: 0;
    }
    .crew-tripulacion-image{
      flex: 0 1 30%;
      width: 20rem;
      height: 25rem;
      margin: 0 auto;
    }
    .crew-right-border{
      display: block;
      width: 100%;
      border: 1px solid #0B0D17; 
    }
    .points-container{
      top: 55%;
      padding: 2%;
    }
    points{
      width: 1rem;
      padding: 1rem;
    }
  }    */
  

 