@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.crew-page-container {
  background-image: url('../../assets/crew/background-crew-mobile.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 100%;
  display: grid;
  gap: 10px;
  .crew-content-wrapper {
    min-width: $mobile-width;
    display: grid;
    gap: 20px;
    .crew-page-title {
      width: 100%;
      height: 100%;
      @include flexCenter(row, center, center);
      font-family: $font-source-heading-2;
      span {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 2.7px;
        opacity: 0.25;
        padding-right: 10px;
        @media (min-width: $tablet-width) {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.6rem;
        font-weight: $regular-weight;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        @media (min-width: $tablet-width) {
          font-size: 2rem;
        }
      }
      @media (min-width: $tablet-width) {
        justify-content: flex-start;
        margin-left: 30px;
      }
    }
    .crew-detail-tripulacion {
      width: 100%;
      height: 500px;
      display: grid;
      grid-template-rows: 222px 30px 220px;
      grid-template-columns: $mobile-width;
      grid-template-areas: "image"
                            "points"
                            "text";
      justify-content: center;
      gap: 20px;
      &__wrapper {
        width: 100%;
        height: 220px;
        grid-area: text;
        @include flexCenter(column, center, center);
        .crew-detail-tripulacion-1 {
          width: 100%;
          height: 60px; 
          font-family: $font-source-heading-1;
          margin-bottom: 10px;
          p {
            font-size: 1.6rem;
            font-weight: $regular-weight;
            text-align: center;
            text-transform: uppercase;
            opacity: 0.5;
            @media (min-width: $tablet-width) {
              font-size: 2.4rem;
            }
          }
          h1 {
            font-size: 2.4rem;
            font-weight: $regular-weight;
            text-align: center;
            text-transform: uppercase;
            @media (min-width: $tablet-width) {
              font-size: 4rem;
            }
          }
          @media (min-width: $tablet-width) {
            height: 70px;
            display: grid;
            grid-template-rows: 25px 45px;
          }
          @media (min-width: $desktop-width) {
            justify-items: start;
            margin: 30px;
          }
        }
        .crew-tripulacion-information {
          width: 327px;
          height: 150px;
          color: $primary-text-color;
          font-family: $font-source-heading-2;
          p {
            font-size: 1.6rem;
            font-weight: $regular-weight;
            text-align: center;
            line-height: 25px;
            @media (min-width: $desktop-width) {
              text-align: left;
              margin: 30px;
            }
          }
          @media (min-width: $tablet-width) {
            width: 450px;
            height: 110px;
            display: grid;
            align-items: center;
          }
        }
        
        @media (min-width: $desktop-width) {
          height: 400px;
          justify-content: flex-end;
          align-items: flex-start;
        }
      }
      .crew-tripulacion-image {
        width: 181px;
        height: 222px;
        grid-area: image;
        justify-self: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        @media (min-width: $tablet-width) {
          width: 370px;
          height: 532px;
        }
        @media (min-width: $desktop-width) {
          width: 1600px;
          height: 820px;
        }
      }
      .points-container {
        width: 100%;
        height: 26px;
        grid-area: points;
        align-self: center;
        @include flexCenter(row, center, center);
        .points {
          cursor: pointer;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $secondary-text-color;
          opacity: 0.25;
          margin: 0 10px;
          &:hover {
            color: $secondary-text-color;
            opacity: 0.5;
          &:active{
            opacity: 1;
          }
          }
        }
        @media (min-width: $desktop-width) {
          justify-content: flex-start;
          margin: 30px;
        }
      }
      @media (min-width: $tablet-width) {
        height: 750px;
        grid-template-rows: 185px 30px 535px;
        grid-template-columns: $tablet-width;
        grid-template-areas: "text"
                            "points"
                            "image";
        gap: 40px;
      }
      @media (min-width: $desktop-width) {
        grid-template-rows: 400px 130px;
        grid-template-columns: 532px;
        grid-template-areas: "text image"
                            "points image";
      }
    }
    @media (min-width: $tablet-width) {
      margin-top: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url('../../assets/crew/background-crew-tablet.jpg');
    background-size: cover;
    background-position: center;
    min-width: $tablet-width;
    height: 100%;
  }
  @media (min-width: $desktop-width) {
    background-image: url('../../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
  }
}